# Auxiliary files #
###################
*.aux
*.bbl
*.blg
*.brf
*.db
*.log
*.out
*.toc
*.bak
*.gz
# Trackchanges folder#
######################
AcceptChanges/
TrackChanges/
acceptchanges.py
trackchanges.py
